main{
    width: 100%;
    background: #fff;
}

.backheader{
    height: 20vh;
}
.banner-instagram{
    width: 100%;
    height: 30vh;
    background-color: #f0f0f0;
    border-bottom: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}
.cont-insta{
    display: flex;
    flex-direction: column;
    align-items: center ;
    gap: 1rem;
}
.nome-insta{
    display: block;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 25px;
    letter-spacing: 1px;

}
.btn-insta{
    width: fit-content;
    text-transform: uppercase;
    padding: 4px 20px;
    border: 1px solid black ;
    border-radius: 50px;
    font: bold 13px;
    cursor: pointer;
}